/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import "components/foundation-icons";
@import "compass/reset";
body {
  font-family: 'Exo 2';
}

.l-header {
  background-image: url("/profiles/bizballoon/themes/custom/bizballoon_omega/images/footer.png");
  background-color: black;
  border-bottom: 3px solid #fc9400;
}

.l-header {
  .l-region {
    .menu {
      .leaf {
        list-style-image: none;
        list-style-type: none;
        display: inline-block;
        padding: 0 0;
      }
    }
  }
}
#block-menu-menu-header-links {
  float: left;
}

.l-region.l-region--header{
    width: 25%;
    padding: 0;
}

.fa-plus,
.fa-list {
    color: white;
    text-decoration: none;
    display: grid;
    text-align: center;
    border-left: 1px solid #565656;
    padding: 12px;
}

footer.l-footer-wrapper {
  background-image: url("/profiles/bizballoon/themes/custom/bizballoon_omega/images/footer.png");
  background-color: black;
  padding: 40px 0;
}

.l-footer-wrapper {
  .l-region {
    .menu {
      .leaf {
        list-style-image: none;
        list-style-type: none;
      }
    }
  }
}

.l-footer-wrapper {
  .l-region {
    .block {
      ul.menu,
      ul.social-media-links {
        display: flex;
      }
    }
  }
}

.l-footer-wrapper {
  .l-region {
    .block {
      .menu {
        .leaf a {
          padding: 35px;
          text-decoration: none;
          color: #ffffff;
          font-size: 14px;
        }
      }
    }
  }
}

.l-footer-wrapper {
  .l-region {
    .block {
      li.facebook,
      li.googleplus,
      li.twitter,
      li.youtube_channel{
        padding: 25px;
      }
    }
  }
}

.l-footer-wrapper {
  .l-region {
    width: 49%;
  }
}

#block-social-media-links-social-media-links {
    padding: 0 217px;
}

.l-header {
  .l-constrained {
    .l-branding.site-branding {
      .site-branding__logo img {
        width: 55%;
        padding: 0px 32px;
        margin-top: 15px;
      }
    }
  }
}

.mysearch {
  width: 50%;
  float: left;
}
.city {
  width: 50%;
  float: right;
}

div#edit-tid-1-wrapper {
    margin-left: -141px;
}

input#edit-submit-search {
    margin-left: 113px;
    border: none;
    padding: 0px 10px;
    font-family: 'Exo 2';
    font-size: 16px;
    cursor: pointer;
    background-color: #0078fa;
    color: white;
    height: 33px;
    margin-top: 0px;
    margin-top: 5px;
}

.l-region.l-region--navigation {
    margin-left: 235px;
    width: 55%;
}

.form-text {
  background-color: #fcfcfc;
border: 2px solid #eaeaea;
color: #999999;
padding: 2px;
width: 100%;
min-height: 50px;
box-shadow: none;
border-radius: 3px;
}

.form-item label, .form-actions label {
    display: block;
    font-weight: normal;
}
input#edit-tid,
input#edit-tid-1 {
    font-size: 14px;
    padding: 6px 0;
    min-height: auto;
    width: 187%;
    border-radius: 0px;
    box-sizing: none;
    padding-left: 27px;
    margin-top: 5px;
}

input#edit-tid {
  background-image: url("/profiles/bizballoon/themes/custom/bizballoon_omega/images/search.png");
  background-repeat: no-repeat;
  background-position: 0% -1px;
}
input#edit-tid-1 {
  background-image: url("/profiles/bizballoon/themes/custom/bizballoon_omega/images/location.png");
  background-repeat: no-repeat;
  background-position: 0% -1px;
}
.admin-menu-toolbar-category.expandable {
    display: none;
}

.breadcrumbs {
  display: none;
}

.not-logged-in {
  .l-content{
    .panels-flexible-column-last,
    .panels-flexible-column-first {
      text-align: center;
    }
    }


.field-type-list-boolean {
  .form-item {
    background-color: #fcfcfc;
    border: 2px solid #eaeaea;
    color: #999999;
    padding-top: 30px;
    padding-left: 5px;
    width: 100%;
    min-height: 50px;
    box-shadow: none;
    border-radius: 3px;
  }
}

.panels-flexible-column-last {
  .panel-pane {
    .user-register-form {
      .captcha {
        padding: 2px;
        width: 100%;
        border: 2px solid #eaeaea;
      }
    }
  }
}

.panels-flexible-column-last {
  .panel-pane {
    .user-register-form {
      .captcha {
        .form-text {
          background-color: #fcfcfc;
          border: 2px solid #eaeaea;
          color: #999999;
          padding: 2px;
          width: 12%;
          min-height: 50px;
          box-shadow: none;
          border-radius: 3px;
        }
      }
    }
  }
}

.panels-flexible-column-last,
.panels-flexible-column-first {
  .panel-pane {
    .user-register-form,
    .user-login-form {
      .form-actions {
        .form-submit {
          border: none;
          color: #444;
          padding: 18px 28px;
          text-align: center;
          text-decoration: none;
          font-size: 13px;
          cursor: pointer;
          background-color: #444;
          color: white;
          border-radius: 3px;
          font-family: 'Exo 2';
        }
      }
    }
  }
}

.panels-flexible-column-first {
  .panel-pane {
    .user-login-form {
      .clearfix-login a{
        color: #E74C3C;
        text-decoration: none;
        line-height: 5;
      }
    }
  }
}

.panels-flexible-column-first {
  .panel-pane {
    .pane-title {
      font-size: 30px;
      line-height: 3;
    }
  }
}

.panels-flexible-column-last {
  .pane-formblock-user-register {
    .pane-title {
      font-size: 30px;
      line-height: 3;
    }
  }
}

.panels-flexible-column-first {
  .panel-pane {
    .hybridauth-widget-wrapper {
      .hybridauth-widget {
        .hybridauth-widget-provider {
          .facebook {
            opacity: 1;
            width: 160px !important;
            background-image: url("/profiles/bizballoon/themes/custom/bizballoon_omega/images/fb.png");
          }
        }
      }
    }
  }
}

.panels-flexible-column-first {
  .panel-pane {
    .hybridauth-widget-wrapper {
      .hybridauth-widget {
        .hybridauth-widget-provider {
          .google {
            opacity: 1;
            width: 160px !important;
            background-image: url("/profiles/bizballoon/themes/custom/bizballoon_omega/images/gplus.png");
          }
        }
      }
    }
  }
}

.panels-flexible-column-first {
  border-right: 2px solid orange;
}

}
