/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import "components/foundation-icons";
@import "compass/reset";
body {
  font-family: 'Exo 2';
}
.site-logo,img {
height: auto;
max-width: 100%;
background-color: black;
}
.l-header {
  background-color: black;
}
.not-logged-in {
  .l-content{
    .panels-flexible-column-last,
    .panels-flexible-column-first {
      text-align: center;
    }
    }
}
.user-login-form {
  .form-item {
    .form-text {
      background-color: #fcfcfc;
      border: 2px solid #eaeaea;
      color: #999999;
      padding: 2px;
      width: 100%;
      min-height: 50px;
      box-shadow: none;
      border-radius: 3px;
    }
  }
}

.user-register-form {
  .field-type-text,
  .form-wrapper {
    .form-item {
      .text-full,
      .form-text, {
        background-color: #fcfcfc;
        border: 2px solid #eaeaea;
        color: #999999;
        padding: 2px;
        width: 100%;
        min-height: 50px;
        box-shadow: none;
        border-radius: 3px;
      }
    }
  }
}

.field-type-list-boolean {
  .form-item {
    background-color: #fcfcfc;
    border: 2px solid #eaeaea;
    color: #999999;
    padding-top: 30px;
    padding-left: 5px;
    width: 100%;
    min-height: 50px;
    box-shadow: none;
    border-radius: 3px;
  }
}

.panels-flexible-column-last {
  .panel-pane {
    .user-register-form {
      .captcha {
        padding: 2px;
        width: 100%;
        border: 2px solid #eaeaea;
      }
    }
  }
}

.panels-flexible-column-last {
  .panel-pane {
    .user-register-form {
      .captcha {
        .form-text {
          background-color: #fcfcfc;
          border: 2px solid #eaeaea;
          color: #999999;
          padding: 2px;
          width: 12%;
          min-height: 50px;
          box-shadow: none;
          border-radius: 3px;
        }
      }
    }
  }
}

.panels-flexible-column-last,
.panels-flexible-column-first {
  .panel-pane {
    .user-register-form,
    .user-login-form {
      .form-actions {
        .form-submit {
          border: none;
          color: #444;
          padding: 18px 28px;
          text-align: center;
          text-decoration: none;
          font-size: 13px;
          cursor: pointer;
          background-color: #444;
          color: white;
          border-radius: 3px;
          font-family: 'Exo 2';
        }
      }
    }
  }
}

.panels-flexible-column-first {
  .panel-pane {
    .user-login-form {
      .clearfix-login a{
        color: #E74C3C;
        text-decoration: none;
        line-height: 5;
      }
    }
  }
}

.panels-flexible-column-first {
  .panel-pane {
    .pane-title {
      font-size: 30px;
      line-height: 3;
    }
  }
}

.panels-flexible-column-last {
  .pane-formblock-user-register {
    .pane-title {
      font-size: 30px;
      line-height: 3;
    }
  }
}

.panels-flexible-column-first {
  .panel-pane {
    .hybridauth-widget-wrapper {
      .hybridauth-widget {
        .hybridauth-widget-provider {
          .facebook {
            width: 160px !important;
            background-image: url("/profiles/bizballoon/themes/custom/bizballoon_omega/images/fb.png");
          }
        }
      }
    }
  }
}

.panels-flexible-column-first {
  .panel-pane {
    .hybridauth-widget-wrapper {
      .hybridauth-widget {
        .hybridauth-widget-provider {
          .google {
            opacity: 1;
            width: 160px !important;
            background-image: url("/profiles/bizballoon/themes/custom/bizballoon_omega/images/gplus.png");
          }
        }
      }
    }
  }
}

.panels-flexible-column-first {
  border-right: 2px solid orange;
}

.l-header {
  .l-region {
    .menu {
      .leaf {
        list-style-image: none;
      }
    }
  }
}

.fa-plus {
    color: white;
    text-decoration: none;
    border: 1px solid white;
    display: grid;
    text-align: center;
}
.fa-list {
    color: white;
    text-decoration: none;
    display: grid;
    text-align: center;
}
