
.icon-yahoo:before { content: '\e800'; } /* '' */
.icon-pinterest:before { content: '\e803'; } /* '' */
.icon-facebook-rect:before { content: '\f301'; } /* '' */
.icon-twitter-bird:before { content: '\f303'; } /* '' */
.icon-googleplus-rect:before { content: '\f309'; } /* '' */
.icon-linkedin:before { content: '\f31a'; } /* '' */
.icon-instagram-filled:before { content: '\f31f'; } /* '' */